<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= render partial: 'navbar' %>
    <header>
      <h1>Dashboard</h1>
    </header>
    <h3>Jobs by Interest</h3>
    <article class="jobs-by-interest">
      <% @interest_levels.each do |stars, jobs| %>
        <div><%= '*' * stars %><%= " (#{jobs} jobs)" %></div>
        <br/>
      <% end %>
    </article>
    <article class="">
      <h3>Top Companies by Interest</h3>
      <% @top_3_companies.each do |company| %>
        <p><%= company.name %> (<%= company.avg_level_of_interest.round(1) %> stars)</p>
      <% end %>
    </article>
    <article class="">
      <h3>Jobs by Location</h3>
      <% @jobs_by_city.each do |city, jobs| %>
        <li><%= link_to "#{city} jobs", jobs_path(location: city) %> (<%= jobs %> jobs)</li>
      <% end %>
    </article>
  </body>
</html>
