<%= form_for [@job, @comment] do |f| %>
  <div class="padded">
    <div class="bolded">
      <%= f.label :author, "Your Name" %>
    </div>
    <div class="padded">
      <%= f.text_field :author %>
    </div>
  </div>
  <div class="bolded padded">
    <div class="bolded">
      <%= f.label :body, "Your Comment" %>
    </div>
    <div class="padded">
      <%= f.text_area :body %>
    </div>
  </div>
  <div>
    <%= f.submit "Submit Comment"%>
  </div>
<% end %>
