<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jobs</title>
  </head>
  <body>
    <header class="head-style">
      <div class="big-letters">All Jobs</div>
      <div class="btn-group align-self" role="group" aria-label="Button group with nested dropdown">
          <%= link_to "Order by Location", "/jobs?sort=location", class: 'btn btn-secondary wider-thing white' %>
          <%= link_to "Order by Interest", "/jobs?sort=interest", class: 'btn btn-secondary wider-thing white' %>
          <div class="btn-group wider-thing" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle wider-thing" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Search Location
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <% @cities.each do |city| %>
              <a class="dropdown-item" href="/jobs?location=<%= city %>"><%= city %></a>
              <% end %>
            </div>
          </div>
        </div>
    </header>
    <section class="whole">
      <article class="main">
        <table class="table table-striped container-fluid">
          <thead>
            <tr class="table-primary">
              <th style="width: 40%">Jobs</th>
              <th></th>
              <th style="width: 20%">Level of Interest</th>
              <th style="width: 20%">Location</th>
            </tr>
          </thead>
          <tbody>
            <% @jobs.each_with_index do |job, index| %>
            <tr>
              <td style="width: 40%"><%= link_to "#{job.title} at #{job.company.name}", job_path(job) %></td>
              <td style="width: 20%"></td>
              <td style="width: 20%"><%= job.level_of_interest %></td>
              <td style="width: 20%"><%= job.city %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <div class="colored"><%= link_to '<< Back to Companies', companies_path %><div>
      </article>
    </section>
  </body>
</html>
