<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header class="header">
      <div>Job Title: <%= @job.title %></div>
    </header>
    <section class="butt-on-box">
      <a class="click-me" href="<%= edit_job_path(@job) %>">Edit</a>
      <div class="click-me">
        <%= link_to "Delete", job_path(@job), method: :delete, data: {confirm: "Really want to delete this job?"} %>
      </div>
    </section>
    <div class="space-30"></div>
    <div class="container">
    <div class="row">
      <div class="col-5">
        <article class="colored padded">
          <p><div class="bolded">Description: </div><%= @job.description %></p>
          <p><div class="bolded">Level of Interest: </div> <%= @job.level_of_interest %></p>
          <p><div class="bolded">City: </div> <%= @job.city %></p>
          <p><div class="bolded">Company: </div> <%= link_to @job.company.name, company_path(@job.company) %></p>
          <p><div class="bolded">Category: </div> <%= link_to @job.category.title, category_path(@job.category) %></p>
        </article>
      </div>
      <div class="col-2"></div>
      <article class="col-5">
        <div class="colored padded">
          <h3>Comments Section</h3>
          <%= render partial: 'comment', collection: @job.comments.reverse %>
          <div class="border-t">
            <%= render partial: 'comments/form' %>
          </div>
        </div>
      </article>
  </div>
  </body>
</html>
