<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <p>Title: <%= @job.title %></p>
    </header>

    <p>Description: <%= @job.description %></p>

    <p>Level of Interest: <%= @job.level_of_interest %></p>

    <p>City: <%= @job.city %></p>

    <p>Company: <%= link_to @job.company.name, company_path(@job.company) %></p>

    <p>Category: <%= link_to @job.category.title, category_path(@job.category) %></p>
    <br/>
    <%= link_to "Edit", edit_company_job_path(@job.company, @job) %>
    <%= link_to "Delete", company_job_path(@job.company, @job), method: :delete, data: {confirm: "Really want to delete this job?"} %>
    <%= render partial: 'comment', collection: @job.comments.reverse %>
    <%= render partial: 'comments/form' %>
  </body>
</html>
