<%= form_for [@company, @contact] do |f| %>
  <div class="">
    <%= f.label :name, 'Name: ' %>
    <%= f.text_field :name %>
  </div>
  <div class="">
    <%= f.label 'Position: ' %>
    <%= f.text_field :position %>
  </div>
  <div class="">
        <%= f.label :email, "Email Address: " %>
        <%= f.text_field :email %>
  </div>
  <div class="">
    <%= f.submit "Create Contact" %>
  </div>
<% end %>
