<%= form_for @company do |f| %>
  <div>
    <%= f.label 'name:' %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.submit %>
  </div>
  <div>
    <%= link_to 'Cancel', companies_path %>
  </div>
<% end %>
