<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header class='company-show-header'>
      <h1><%= @company.name %></h1>
    </header>
    <section class='subheader'>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" id='delete-button'>Delete</button>
        <button type="button" class="btn btn-secondary">Edit</button>
      </div>
    </section>
    <section class='job-show-main'>
      <div class='container'>
        <div class='row'></div>
        <div class='row'>
          <div class='col-sm' align='center'>
            <h3><%= link_to "Jobs for #{@company.name}", company_jobs_path(@company) %></h3>
            <h3 align='center'>Existing Contacts</h3>
            <div class='contacts'>
              <% @contacts.each do |contact| %>
                <div class='individual-contacts'>
                  <h5 align='left'><%= contact.name %></h5>
                  <ul>
                    <li align='left'>Position: <%= contact.position %></li>
                    <li id='contact-email' align='left'>Email: <%= contact.email %></li>
                  </ul>
                  <%= link_to "Delete Contact", company_contact_path(contact.company, contact), method: 'delete' %>
                </div>
              <% end %>
            </div>
          </div>
          <div class='row'></div>
          <div class='col-sm' align='center' id='new-contact-form'>
            <h4 align='left'>Create New Contact for <%= @company.name %></h4>
            <div align='left'><%= render partial: 'contacts/form' %></div>
          </div>
          <div class='row'></div>
        </div>
      </div>
    </section>
  </body>
</html>
