<form action="<%= categories_path %>" method='get' >
  <div class="form-row align-items-center">
    <div class="col-sm-3 my-1">
      <label class="sr-only" for="inlineFormInputName">Name</label>
      <input type="text" class="form-control" id="inlineFormInputName" placeholder="Name">
    </div>
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>

<!-- <%= form_for @category do |f| %>
  <div>
    <%= f.label 'Name:' %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.submit %>
  </div>
  <div>
    <%= link_to 'Cancel', categories_path %>
  </div>
<% end %> -->
